.section {
    margin: 1rem 0;
    border: 1px solid transparent;
    border-radius: var(--alpha-border-radius);

	&__body {
        padding: 1rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: .5rem;
		padding: .5rem 1rem;
		border-radius: var(--alpha-border-radius) var(--alpha-border-radius) 0 0;
		background-color: var(--alpha-color);
		color: #FFF;
    }

    &__body {

		border-radius: 0 0 var(--alpha-border-radius) var(--alpha-border-radius);
        &--bordered {
            @include media-lg {
				border: 1.25rem solid var(--gamma-color);
				// border-radius: var(--alpha-border-radius);
				padding-bottom: 2.5rem;
			}
        }
    }

    &__footer {
        &--inner {
			@include media-lg {
				margin-top: -3rem;
				display: flex;
				justify-content: center;

				&>* {
					background-color: #FFF;
					padding: 1rem;
				}
			}
        }
    }

    &__head {
        color: inherit;
        margin: 0;

        &>a {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
            transition: color 350ms;

            &:hover,
            &focus,
            &:active {
                color: var(--alpha-color);
                transition: color 350ms;
            }
        }
    }
}