html {
	height: 100%;
	font-size: 1rem;
}

.body {
	height: 100vh;
	overflow-y: auto;
}

.body__wrapper {
	height: 100%;
	@include styled-scrollbar;
}

.top-contacts .contacts {
	@include media-max-lg {
		flex-flow: row wrap;
		align-items: center;
	}
}

@media (min-width: 400px) {
	.block-top-logo {
		display: none;
	}
}

.top-swiper {
	background-color: var(--gamma-color);
}

.swiper-pagination-bullet {
	background-color: var(--gamma-color);
	padding: .5rem;
	border-radius: var(--alpha-border-radius);
}

img {
	max-width: 100%;
}